@{
    ViewBag.Title = "About";
}


<p>The site was built in support of the Humane Society of Pinellas County.</p>


<h1>Best Friend Pet Supply</h1>
<h2>Taking care of your best friend Naturally</h2>
<p class="lead">
    The store supports the Humane Society of Pinellas (HSP).
    The Humane Society of Pinellas is the largest <b>no kill</b> animal shelter in Pinellas county.  
    They receive <b>NO</b> funding from any State or Federal tax dollars, or any funding from any 
    national animal organizations including the Humane Society of the US or the ASPCA.
</p>
<p><a href="https://www.humanesocietyofpinellas.org/about/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>